# Izinkan akses CORS dan embed PDF/gambar di iframe
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, OPTIONS"
    Header set Access-Control-Allow-Headers "*"
    Header unset X-Frame-Options
    Header set X-Frame-Options "ALLOWALL"
</IfModule>

